table {
  border-spacing: 0;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #ddd;
}
.hide {
  display: none;
}
.showicon {
  display: inline-block;

  
}



th, td {
  text-align: left;
  padding: 16px;
}
span{
  margin-left: 10px;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}